
:root{
    --c-genel:#FB4C47;
    --c-yesil:#035755;
    --c-nokta:#FA5652;
    --c-p:#4B4F51;
    --f-span: "roboto", sans-serif;
    --f-baslik:"Red  Hat  Display", sans-serif ;
}

body{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}
   
    
.header{
    background-color: #fa555205;
    box-shadow: 0px 1px 0.1px #fa555233;  
    
  }  
    .nav-wrap{
        align-items: center;
        display: flex;
        justify-content: space-between;

    }
    .nav {
        //padding-top: 25px;
        
        
        a{
            color: var(--c-yesil);
            font-family:var(--f-span) ;
            font-style: normal;
            font-weight:400 ;
            font-size: 18px;
            line-height: 22px;
            margin-right: 40px;
            text-decoration: none;
            position: relative;
            &::after{
                content:"";
                background:var(--c-nokta);
                border-radius: 100px;
                bottom: 0;
                position: absolute;
                width: 0px;
                height: 0px;
                left: 50%;
                transform: translateX(-50%);
                top: 25px;
            }       
            &:hover{
                color: var(--c-genel);
                transition: 400ms;
                position: relative;
                &::after{
                    content:"";
                    background:var(--c-nokta);
                    border-radius: 100px;
                    bottom: 0;
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    left: 50%;
                    transition: 300ms;
                    transform: translateX(-50%);
                    top: 25px;
                }        
                
            } 
        }

        .active{
            color: var(--c-genel);
                pointer-events: none;
                position: relative;
                &::after{
                    content:"";
                    background:var(--c-nokta);
                    border-radius: 100px;
                    bottom: 0;
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 25px;
                }      
        }
    }
    
    .section1 {
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        &__title{
            color: var(--c-nokta);
            font-family:var(--f-baslik);
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 122%; 
            margin-bottom: 0px;  
        }
        &__title1{
            color: var(--c-yesil);
            font-family:var(--f-baslik);
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 139%;
            text-transform: capitalize;
            margin-bottom: 29px;
        }
        &__desc{
            color: var(--c-p);
            font-family: var(--f-span);
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 190%;
            text-transform: capitalize;
            margin-bottom: 54px;
        }    
    }
    
    .section2{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 150px; 
        &__title{
            color: var(--c-nokta);
            font-family:var(--f-baslik);
            font-style: normal;
            font-size: 28px;
            font-weight: 700;
            line-height: 124%;
            
        }
        &__title2{
            color:var(--c-yesil);
            font-family:var(--f-baslik);
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 119%;
            text-transform: capitalize;
            margin: 0;  
        }
        &__desc{
            color:var(--c-p) ;
            font-family: var(--f-span);
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 215%;
            text-transform: capitalize;  
        }
    
    }
  
        
       

