
:root{
    --c-genel:#FB4C47;
    --c-yesil:#035755;
    --c-nokta:#FA5652;
    --c-p:#4B4F51;
    --f-span: "roboto", sans-serif;
    --f-baslik:"Red  Hat  Display", sans-serif ;
}

body{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}
   
    
